*body{
    height: 100vh;
}
header{
    background-repeat: no-repeat;
    background: rgb(69,31,67);
background: linear-gradient(0deg, rgba(69,31,67,0.8155637254901961) 40%, rgba(48,34,84,1) 100%);
    backdrop-filter: blur(5px);
    padding: 20px 0;
   
}
#banner {
    width: 50%;
    opacity: 0.8;
   
}


#banner {
    margin: -20px -187px;
    width: 70%;
    transform: scale(1.5);
}


.nabvar {
    width: 940px; 
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 201px;
    right: -231px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #ee128ffb;
    text-decoration: underline;
}
.cursos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}


.cursos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;

    background: rgb(238 70 153 / 11%);
    box-shadow: 0 -10px 30px rgb(214 24 141 / 30%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(3.1px);
}

.cursos li:hover{
    border-color: #ee128ffb;
}

.cursos li:active{
    border-color: #810c71fb;
}

.cursos li:hover h2{
    font-size: 29px;
}
.cursos h2{
    font-weight: bold;
    font-size: 25px;
}

.cursos_descricao{
    font-size: 20px;
    margin-top: 10px;
}


main{
    width: 940px;
    margin: 200px auto;
}

form{
    margin: 40px 0;
}

form label form p {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao { 
    display: block;
    margin:0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbo {
    margin: 20px 0;
}
footer{
    text-align: center;
    background-color: #1a1f29;
    color: #ffffff;
    padding:30px 0;
}

footer img{
    width: 10%;
    border-radius: 100px;
}