body{
    background: #fff;
}


/* ******************banner****************** */
#banner {
    width: 50%;
    opacity: 0.8;
   
}

/* **************Sobre nós****************** */

#principal {
    margin: 100px 5px 120px 5px;
    padding: 30px 5% 0px 100px;
}

.contenido p{
    font-size: 20px;
    font-family: sans-serif;
    text-align: justify;
    line-height: 1.5;
}

#principal > h1 {
    text-align: center;
    font-family: 'Righteous', cursive;
    padding: 35px;
    margin-bottom: 50px;
    background-color: #fcccc7;
    color: #fff;
}

#principal h1 > strong{
    color: #d65b66;
    font-size: 35px;
}


/* *************Principios***************** */

#principios{
    display: flex;
}

.valores{
    flex-direction: row;
    margin: 50px 100px 0px 100px;
}

.img_valores{
    justify-content: center;
    margin-bottom: -35px;
    margin-left: 135px;
    transform: scale(1.5);
}

.valores p > em {
    color: #d65b66;
    font-size: 35px;
    font-family: 'Righteous', cursive;
    text-align: justify;
    line-height: 1.5;
    margin: -46px 100px -37px 100px;
}

.valores p{
    color: #000000;
    font-size: 20px;
    text-align: justify;
    font-family: sans-serif;
    line-height: 1.5;
    margin: 50px;
}


/* *************Objetivos****************** */ 

#objetivos{
    background-color: blueviolet;
}


#objetivos h2{
    color: #d65b66;
    font-size: 35px;
    font-family: 'Righteous', cursive;
    text-align: justify;
    text-align: center;
    line-height: 1.5;
}

#objetivos h3{
    color: #d65b66;
    font-size: 35px;
    font-family: 'Righteous', cursive;
    text-align: justify;
    line-height: 1.5;
} 

#objetivos h4{
    color: #d65b66;
    font-size: 35px;
    font-family: 'Righteous', cursive;
    text-align: justify;
    line-height: 1.5;
} 

#objetivo h5{

    color: #000000;
    font-size: 35px;
    font-family: sans-serif;
    text-align: justify;
    line-height: 1.5;
} 

#objetivo h5 em{

    color: #d65b66;
    font-size: 35px;
    font-family: sans-serif;
    text-align: justify;
    line-height: 1.5;
} 

.itens strong{
    color: #000000;
    font-size: 18px;
    text-align: justify;
    font-family: sans-serif;
    line-height: 1.5;
}


/* *************Compromisso****************** */

#compromisso{
   width: 100%;

}
div#compromisso {
    display: inline-flex;
    margin: inherit;
    padding: 40px 60px 40px 60px;
}

#compromisso p{
    color: #000000;
    font-size: 20px;
    text-align: justify;
    font-family: sans-serif;
    line-height: 1.5;
    padding: 100px 100px 100px 100px;
}

#compromisso p > em{
    color: #d65b66;
    font-size: 20px;
    text-align: justify;
    font-family: sans-serif;
    line-height: 1.5;
    font-weight: bold;
}

.img_compromisso {
    border-radius: 50px;
    box-shadow: 10px 2px 2px #d65b659a;
}